name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # 开启手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    - name: Configure Maven mirror
      run: |
        echo "<settings><mirrors><mirror><id>aliyunmaven</id><url>https://maven.aliyun.com/repository/public</url><mirrorOf>central</mirrorOf></mirror></settings>" > ~/.m2/settings.xml
    - name: Build with Maven
      run: mvn clean package -DskipTests
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: yudao-server.jar
        path: yudao-server/target/yudao-server.jar
