name: Java CI with Maven

on:
  workflow_dispatch: # 仅保留手动触发（避免代码推送自动触发）

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: 配置阿里云Maven镜像
        run: |
          echo "<settings><mirrors><mirror><id>aliyun</id><url>https://maven.aliyun.com/repository/public</url><mirrorOf>central</mirrorOf></mirror></settings>" > ~/.m2/settings.xml
      - name: 编译yudao-server模块
        run: mvn clean package -DskipTests -pl yudao-server -am # 只编译后端启动模块
      - name: 上传Jar包产物
        uses: actions/upload-artifact@v4
        with:
          name: 后端Jar包
          path: yudao-server/target/yudao-server.jar # CI编译后会自动生成这个路径
