name: yudao-ui-admin CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js 16 # 适配更多依赖版本
      uses: actions/setup-node@v4
      with:
        node-version: '16'

    - name: Configure npm mirror
      run: npm config set registry https://registry.npmmirror.com/

    - name: Install dependencies (兼容依赖)
      run: cd yudao-ui-admin && npm install --force --legacy-peer-deps # 增加legacy-peer-deps解决版本冲突

    - name: Build frontend project
      run: cd yudao-ui-admin && npm run build:prod

    - name: Upload dist artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: yudao-ui-admin/dist
        if-no-files-found: error
