name: yudao-ui-admin CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # 开启手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Node.js 14
      uses: actions/setup-node@v3
      with:
        node-version: '14'
        cache: 'npm'
    - name: Configure npm mirror
      run: npm config set registry https://registry.npmmirror.com/
    - name: Install dependencies
      run: cd yudao-ui-admin && npm install
    - name: Build frontend
      run: cd yudao-ui-admin && npm run build:prod
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: yudao-ui-admin/dist
